{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>User Register</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-container">
    <h2>User Register</h2>

    {% for message in messages %}
        <p class="msg">{{ message }}</p>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}

        <div class="input-box">
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter username" required>
        </div>

        <div class="input-box">
            <label>Email</label>
            <input type="email" name="email" placeholder="Enter email" required>
        </div>

        <div class="input-box">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter password" required>
        </div>

        <div class="input-box">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" placeholder="Confirm password" required>
        </div>

        <button type="submit" class="auth-btn">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'user_login' %}">Login</a></p>
</div>

</body>
</html>
